
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    margin: 0; 
  }
 #emojiContainer {
    font-size: 100px;
    text-align: center;
    margin: 20px;
    color: purple;
  }
  #emojiCategory{
    text-align:center ;
    margin:20px;
    color:purple;
  }

  select{
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 16px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
  }
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 400px;

  }
  h1{
    text-align: center;
    text-size-adjust: 300px;
    color:blueviolet
    
  }
  